.hero-area{
    background: url("../../images/hero-bannar.png");
    width: 100%;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}